@page
@model ShoppingAssignment_SE150568.Pages.OrderPage.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Order.OrderId" />
            <div class="form-group">
                <label asp-for="Order.Customer" class="control-label"></label>
                <input asp-for="Order.Customer.ContactName" class="form-control" disabled />
                @*<span asp-validation-for="Order.CustomerId" class="text-danger"></span>*@
            </div>
            <input type="hidden" asp-for="Order.CustomerId"/>
            <div class="form-group">
                <label asp-for="Order.Customer.Email" class="control-label"></label>
                <input asp-for="Order.Customer.Email" class="form-control" disabled />
                @*<span asp-validation-for="Order.CustomerId" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="Order.OrderDate" class="control-label"></label>
                <input asp-for="Order.OrderDate" class="form-control" readonly />
                <span asp-validation-for="Order.OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.RequiredDate" class="control-label"></label>
                <input asp-for="Order.RequiredDate" class="form-control" />
                <span asp-validation-for="Order.RequiredDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.ShippedDate" class="control-label"></label>
                <input asp-for="Order.ShippedDate" class="form-control" />
                <span asp-validation-for="Order.ShippedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.Freight" class="control-label"></label>
                <input asp-for="Order.Freight" class="form-control" />
                <span asp-validation-for="Order.Freight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.ShipAddress" class="control-label"></label>
                <input asp-for="Order.ShipAddress" class="form-control" />
                <span asp-validation-for="Order.ShipAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Details.First().Product.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details.First().UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details.First().Quantity)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Details)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>

            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
